/* Navigation Section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding:0px 9px;
    padding-bottom: 5px;
}
/* Home Section  */
#home{
height: 200px;
padding: 3px 22px;
}
#home::before{
    height: 300px;
}
#home p{
    font-size: 10px;

}

/* Services Section */
#services{
flex-direction: column;
}

#services .box {
    
    margin: 3px 0px;
    padding: 14px;
    margin-bottom: 10px;
 
}
/* Client Section */

#client{
    flex-wrap: wrap;
}
#client img{
    width:44px ;
    
  height: auto;
}
.client-item {
    padding: 15px 30px;
    padding-bottom: 0px;
}
#client-section {
    height: 155px;
    
}
/* #client-section::before {
    height: 100%;
   
} */

/* Contact Section */
#contact-box form{
    width:75%;
}

/* Footer Section  */

footer{
    padding: 5px 2px;
}

/* Utility Classes */
.h-primary{
    font-size: 22px;
}
.btn{
    font-size: 12px;
    padding: 5px 8px;
}